body {
		font-family: "Lucida Console", Monaco, monospace;
		margin: 0px auto;
	}
	a {
		color: black;
	}
	.title
	{
		font-weight: bold;
		background-color: #FF9900;
		color: white;
	}
	.block {
		width: 40px;
		height: 40px;
		border: none;
		background-color: gray;
		text-align: center;
		line-height: 40px;
		color: white;
		font-weight: bold;
	}
	.block.selected
	{
		background-color: #FF9900;
		-moz-transform: scale(1.1); /* Для Firefox */
    -ms-transform: scale(1.1); /* Для IE */
    -webkit-transform: scale(1.1); /* Для Safari, Chrome, iOS */
    -o-transform: scale(1.1); /* Для Opera */
    transform: scale(1.1);
	}
	.block.locked
	{
		/*background-color: lightgray;*/
 		-webkit-filter: opacity(.2);
		filter: opacity(.2);
	}
	
	/*AHCHUNG !!! DONT CHANGE NAMES, THEY ARE HARDCODED */
	.block.lives1
	{
	-moz-transform: scale(0.8); /* Для Firefox */
    -ms-transform: scale(0.8); /* Для IE */
    -webkit-transform: scale(0.8); /* Для Safari, Chrome, iOS */
    -o-transform: scale(0.8); /* Для Opera */
    transform: scale(0.8);
    border-radius: 20px;
	}
	.block.lives2
	{
	-moz-transform: scale(0.9); /* Для Firefox */
    -ms-transform: scale(0.9); /* Для IE */
    -webkit-transform: scale(0.9); /* Для Safari, Chrome, iOS */
    -o-transform: scale(0.9); /* Для Opera */
    transform: scale(0.9);
    border-radius: 10px;
	}
	.block.lives3
	{
	}
	
	.block.op_add
	{
		background-color: #67A65E;
	}
	.block.op_sub
	{
		background-color: #A65E5E;
	}
	.block.op_mul
	{
		background-color: #5E99A6;
	}
	.block.op_div
	{
		background-color: #A65EA6;
	}
	.blur
	{
		-webkit-filter: blur(5px);
		filter: blur(5px);
	}

